body{
    background-color: rgb(51, 51, 77);
}
h2{
  color: red;
  margin-left: 42%;
}
.container{
    margin-top: 15%;
    margin-left: 42%;
    display: flex;
}
.heart{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

}
.container img{
    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: 25px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.heart:before{
  position: absolute;
  bottom: 0px;
  left: -100px;
  width: 200px;
  height: 200px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: red;
}
.heart:after{
  position: absolute;
  top: -100px;
  right: 0px;
  width: 200px;
  height: 200px;
  content: '';

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;

  background-color: red;
}
